body{
    font-family: 'Nunito', sans-serif;
    background-color: #f8e7f1;
}
.jumbotron{
    background-color: lightgoldenrodyellow;

}
legend, label{
    color: black;

}

input[type=text], input[type=email],input[type=url]{
    border: 2px solid lightyellow;
    border-radius: 4px;

}
#meet, #message{
    border: 2px solid lightyellow;
    border-radius: 4px;
}

.field_set {
    border: 2px solid lightblue
;
}
#showText1{
    display: none;
}

#radioOptions{
    display: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: tan;
}